In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
from scipy import stats

In [ ]:
stats.poisson.pmf()

In [11]:
stats.binom_test(67, 100, p=0.75, alternative='two-sided')

0.08222258891386608

In [12]:
stats.binom_test(22, 50, p=0.75, alternative='two-sided')

3.4831478978300243e-06

In [15]:
pines = pd.read_csv('pines.txt', sep='\t')

In [17]:
pines

        sn     we
0    200.0    8.8
1    199.3   10.0
2    193.6   22.4
3    167.7   35.6
4    183.9   45.4
..     ...    ...
579  169.1  160.0
580  162.5  157.3
581  156.7  155.3
582  154.1  150.8
583   87.7  200.0

[584 rows x 2 columns]

In [19]:
pines['ghost'] = np.ones(pines.shape[0])

In [22]:
binned = stats.binned_statistic_2d(pines['sn'], pines['we'], pines['ghost'], statistic='count', bins=5)

/Users/amsavchenko/anaconda3/lib/python3.6/site-packages/scipy/stats/_binned_statistic.py:607: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = result[core]

In [24]:
np.mean(binned[0])

23.36

In [28]:
mean = 584 / 25

In [32]:
expected = np.full(25, mean)

In [39]:
stats.chisquare(binned[0].flatten(), expected, ddof=0)

Power_divergenceResult(statistic=150.58904109589042, pvalue=2.574669774967279e-20)